html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-top: 50px;
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background: url("https://www.farmington-ct.org/home/showpublishedimage/6560/637661213947170000");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

nav {
  height: 50px;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 18px;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  z-index: 999;
  transition: box-shadow 500ms;
}

nav:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

nav button {
  height: 30px;
  padding: 0 12px;
  box-sizing: border-box;
  border: 0;
  background-color: #303030;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 3px;
  transition: background-color 500ms, border-radius 250ms;
  cursor: pointer;
  color: #fff;
  margin-left: 5px;
}

nav button:hover {
  background-color: #353535;
  border-radius: 9px;
}

nav button:active {
  background-color: #454545;
  border-radius: 15px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #212121;
  height: 400px;
  background-color: rgba(100, 255, 100, 0.4);
  backdrop-filter: blur(2px);
  font-size: 35px;
  overflow: hidden;
}

#header div {
  border: 5px solid #212121;
  padding: 50px;
  box-sizing: border-box;
  width: calc(100% - 100px);
}

.element {
  background-color: #282828;
  padding: 25px 30px;
  width: 100%;
  box-sizing: border-box;
}

.heading {
  background-color: #282828;
  padding: 5px 30px;
  width: 100%;
  box-sizing: border-box;
}

.centered {
  text-align: center;
}

h3 span {
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  display: inline-block;
}

.element-divider {
  padding: 2px 30px;
  background-color: #2c2c2c;
  width: 100%;
  box-sizing: border-box;
}

.element-divider hr {
  border: 1px solid #334433;
}

.element table {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.element table th {
  background-color: #333a33;
  padding: 12px;
  box-sizing: border-box;
}

.element table td {
  background-color: #2b2b2b;
  padding: 12px;
  font-size: 14px;
}

.element table tr:nth-child(2n+1) td {
  background-color: #333330;
}
